.metronomeCard {
    background-color: #606b76 !important;
    margin: 16px;
    min-width: 275px;
    padding: 8px 32px;
}

@media only screen and (max-width: 600px) {
    .metronomeText {
        display: none !important;
    }

    .metronomeSlider .MuiSlider-markLabel {
        display: none !important;
    }
}
