<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /guitar-beats/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /guitar-beats/index.html [L]
</IfModule>
